.article{
    display: flex;
    width:85%;
    margin: 10px auto;
    justify-content: space-around;
    margin-bottom: 36px;
}

.img-container{
    /* width:250px; */
    width: 35%;
    height: 218px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px;
}
.main-img{
    height: 100%;
    width:100%;
    object-fit:cover;
}
.Info-wrapper img,.Info-wrapper span,.Info-wrapper a{
    margin-right: 10px;
    font-size: large;
    text-decoration: none;
    font-weight: 600;
}
.Info-wrapper p{
    font-weight: 600;
    font-family: Inter;
}
.Info-wrapper{
    width: 65%;
}
